---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import { highlightAuthor } from "@/lib/utils";
import { template } from "@/settings";

const ALL_PAPERS = publications; // This will be replaced with dynamic data later
---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8 border-b">Publications</h1>

    <div class="space-y-2">
      {
        ALL_PAPERS.map((paper) => (
          <div class="card bg-gray-50 rounded-md">
            <div class="card-body p-5">
              {/* Title and Read Paper button */}
              <h2 class="card-title text-base mt-0 mb-0">
                <a
                  href={template.base + paper.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="font-bold hover:text-blue-500 no-underline"
                >
                  {paper.title}{" "}
                </a>
              </h2>
              {/* Authors */}
              <p class="text-base mb-0 mt-0 leading-tight">
                <span set:html={highlightAuthor(paper.authors)} />
              </p>
               {/* Conference */}
              <p class="text-base mb-0 mt-0 leading-tight">
                <span class="italic">{paper.journal}</span>, {paper.time}
              </p>

            </div>
          </div>
        ))
      }
    </div>

    <!-- <div class="flex justify-center mt-8">
      <div class="join">
        <button class="join-item btn btn-sm">«</button>
        <button class="join-item btn btn-sm">1</button>
        <button class="join-item btn btn-sm btn-active">2</button>
        <button class="join-item btn btn-sm">3</button>
        <button class="join-item btn btn-sm">»</button>
      </div>
    </div> -->

  </div>
</Layout>
