---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";
import PublicationsList from "@/components/ui/PublicationsList.astro"
import type { Publication } from "@/types/cv";
import { orderPublication } from "@/components/ui/Sorter.astro";

let orderedPublications: Publication[] = [];

if (publications.length > 0) {
	orderedPublications = publications.sort((a, b) => {
		return orderPublication(a, b);
	});
}

const ALL_PAPERS = orderedPublications; // This will be replaced with dynamic data later
---

<Layout title="Papers">
  <div class="prose max-w-none">
    <h1 class="text-3xl font-bold mb-8 border-b">Publications</h1>
    
    <PublicationsList papers={ALL_PAPERS} />

  </div>
</Layout>
