---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    description: string;
  }[];
}
const { listTitle, listItems } = Astro.props;
---

<h2 class="text-2xl font-bold mb-6 border-b">{listTitle}</h2>

<ul class="list-disc pl-5 space-y-2 marker:text-black">
  {
    listItems.map((item) => (
      <li class="text-base">
        <span class="font-medium">{item.title}:</span>
        {item.description && (
          <span class="text-base ml-2"> {item.description}</span>
        )}
      </li>
    ))
  }
</ul>
