---
import type { Publication } from "@/types/cv";
import { highlightAuthor } from "@/lib/utils";
import { template } from "@/settings";

interface Props {
  papers: Publication[];
}

const { papers } = Astro.props;
---

<div class="space-y-2">
  {
    papers.map((paper) => (
      <div class="card bg-gray-50 rounded-md">
        <div class="card-body p-5">
          {/* Title and Read Paper button */}
          <h2 class="card-title text-base mt-0 mb-0">
            <a
              href={template.base + paper.link}
              target="_blank"
              class="font-bold hover:text-blue-500 no-underline"
            >
              {paper.title}{" "}
            </a>
          </h2>

          {/* Authors */}
          <p class="text-base mb-0 mt-0 leading-tight">
            <span set:html={highlightAuthor(paper.authors)} />
          </p>

          {/* Conference */}
          <p class="text-base mb-0 mt-0 leading-tight">
            <span class="italic">{paper.journal}</span>, {paper.time}
          </p>
        </div>
      </div>
    ))
  }
</div>
